<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HobosPath" value="Hobos.json"></add>
		<add key="AlmsPath" value="AlmsEvents.json"></add>
		<add key="DrugDenPath" value="DrugDen.json"></add>
		<add key="EstatePath" value="EstateEgency.json"/>
		<add key="GarbagePath" value="GarbageEvents.json"/>
		<add key="HospitalPath" value="HospitalEvents.json"/>
		<add key="JobPath" value="JobEvents.json"/>
		<add key="StorePath" value="Store.json"/>
	</appSettings>
</configuration>